﻿<div class="jumbotron">
    <h1>Brainjocks - Archive It!</h1>
    <p class="lead">Archive @ViewBag.Title GIT repo.</p>
</div>
<div id="application-layout" class="row">
    <div data-bind="with: checkViewModel">
        <div class="col-md-6">

            <form class="form-inline" role="form" spellcheck="false" data-bind="visible: shouldShowCheck">
                <h4>Checkout Git Project - @ViewBag.Title</h4>
                <div class="form-group" data-bind="class: overallCheck">
                    <label class="control-label" for="inpCredentials">Enter Username: </label>

                    <input type="text" class="form-control" id="inpCredentials"
                           data-bind="textInput: Credentials.Username, validationOptions: {errorElementClass: 'err' },
                       valueUpdate: 'afterkeydown', enterkey: checkOne">
                    <p><span class="err" data-bind="validationMessage: Credentials.Username"></span></p>
                    <span class="glyphicon form-control-feedback" data-bind="class: iconCheck"></span>
                </div>
                <div class="form-group" data-bind="class: overallCheck">
                    <label class="control-label" for="inpCredentials2">Enter Password: </label>

                    <input type="password" class="form-control" id="inpCredentials2"
                           data-bind="textInput: Credentials.Password, validationOptions: {errorElementClass: 'err' },
                       valueUpdate: 'afterkeydown', enterkey: checkOne">
                    <p><span class="err" data-bind="validationMessage: Credentials.Password"></span></p>
                    <span class="glyphicon form-control-feedback" data-bind="class: iconCheck"></span>
                </div>
                <div class="form-group" style="display: block">
                    <input type="button" class="btn btn-default" id="btnCheckSingle" value="Check!" data-bind="click: checkOne,
                       enable: readyToBeChecked"/>
                    <input type="button" class="btn btn-default" id="btnReset" value="Reset" data-bind="click: resetCheck"/>
                </div>
            </form>

            <form class="form-inline" role="form" spellcheck="false" data-bind="visible: shouldShowArchive" style="padding-top: 50px; display: none;">
                <h4>Archive checked out project - @ViewBag.Title</h4>
                <div class="form-group" data-bind="class: overallArchive">
                    <label class="control-label" for="inpArchive">Enter Company Name: </label>

                    <input type="text" class="form-control" id="inpArchive"
                           data-bind="hasFocus: setFocus, textInput: Archive.CompanyName, validationOptions: {errorElementClass: 'err' },
                       valueUpdate: 'afterkeydown', enterkey: archiveFolder">
                    <p><span class="err" data-bind="validationMessage: Archive.CompanyName"></span></p>
                    <span class="glyphicon form-control-feedback" data-bind="class: iconArchive"></span>
                </div>
                <div class="form-group" data-bind="class: overallArchive">
                    <label class="control-label" for="inpArchive2">Enter Archive Password: </label>

                    <input type="password" class="form-control" id="inpArchive2"
                           data-bind="textInput: Archive.Password, validationOptions: {errorElementClass: 'err' },
                       valueUpdate: 'afterkeydown', enterkey: archiveFolder">
                    <p><span class="err" data-bind="validationMessage: Archive.Password"></span></p>
                    <span class="glyphicon form-control-feedback" data-bind="class: iconArchive"></span>
                </div>
                <div class="form-group" style="display: block">
                    <input type="button" class="btn btn-default" id="btnArchive" value="Archive!" data-bind="click: archiveFolder,
                       enable: readyToBeArchived"/>
                    <input type="button" class="btn btn-default" id="btnResetArchive" value="Reset" data-bind="click: resetArchive"/>
                </div>
            </form>
            <div data-bind="visible: shouldShowDownload" style="display: none;">
                <h4>Click link below to start downloading @ViewBag.Title zip archive</h4>
                <p>@Html.ActionLink("Download", "Get", "Download")</p>
            </div>
        </div>
        <div class="col-md-12" style="padding-top: 40px;">
            <h4>Information Messages: </h4>
            <ul id="serverStatus">

            </ul>
        </div>
    </div>
</div>