﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

li.error-status-message {
	color: #a94442;
}

li.success-status-message {
	color: olivedrab;
}